.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.btn--main {
    background-color: $btn-primary;
    border: 1px solid $btn-primary;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: $btn-primary-hover;
        border: 1px solid $btn-primary-hover;
    }
}

.btn--reset {
    background-color: $btn-reset;
    border: 1px solid $btn-reset;
    color: $color-black;
    cursor: pointer;
    &:hover {
        background-color: $btn-reset-hover;
        border: 1px solid $btn-reset-hover;
    }
}